@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Rubik+Glitch&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 30px;
    padding: 20px 20px;
    font-weight: bold;
    color: #fff;
}

form {
    width: 500px;
    height: 300px;
    background-color: #003274;
    margin-top: 100px;
}

input {
    padding: 10px 20px;
    width: 300px;
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    outline: none;
    border-radius: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    width: 300px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
    background-color: green;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
}